*{ 
  box-sizing: border-box;
}


body{
  font-size: 20px;
  background-image: url("neet background a148bce9-9b99-4e00-8910-6cd4ca0c4daf.png");
  /* background-color: rgb(16, 199, 186); */
  background-repeat: no-repeat;
  background-size: 2000px 1000px;
}

fieldset{
  width:450px;
  height:500px;
  border-radius: 10px;
  position:relative;
  top:200px;
  left:38%;
  backdrop-filter: blur(10px);
  
}
h1{
  text-align: center;
}
#anchor{
  text-align: end;
}
input{
height:40px;
width:450px;
border-radius: 20px;
font-size: 19px;
padding:10px 30px;
margin:5px;
background: white;
}
#submit{
  background-color:rgb(6, 101, 20);
  color:white;
}



































